/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #D9D9D9;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #0D0D0D;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #D9D9D9;
  border: .01rem solid #D9D9D9;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #D9D9D9;
  background-image:url('../images/test.png');
  background-size: auto;
  background-repeat: repeat;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.btn-primary {
  color: #D9D9D9;
  background-color: #0D0D0D;
  border-width: 2px;
  border-color: #D9D9D9;
}

.btn-primary:hover {
  color: #404040;
  background-color: #8C8C8C;
  border-width: 2px;
  border-color: #8C8C8C;
}

//restart button
button {
  text-rendering: auto;
  color: #D9D9D9;
  background-color:#0D0D0D;
  background-size: 250px;
  background-position: center;
  background-repeat:no-repeat;
  border-color: #D9D9D9;
  border-width: 2px;
  font-size: 30px;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #D9D9D9;
  border-bottom-color: #D9D9D9;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


h3 {
  font-size: 30px;
  text-align: left;
}

h1 {
  font-size: 50px;
  text-align: center;
}
